.SkillsTable

  white-space: nowrap
  // &-skill-name
  //   > div
  //     white-space: nowrap

  &-SillRanking
    position: relative
    > select
      position: absolute
      opacity: 0
      top: 0
      left: 0
      height: 100%
      width: 100%
