.SkillsPage
  &-header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  > .Layout-content
    display: flex
    flex-direction: column
    > .SkillsTable
      flex: 1 1 auto
